# Data Visualization for Road Roughness

In [17]:
import sys
import pandas as pd  
import matplotlib.pyplot as plt
sys.path.append('../../')   # Add parent directory to Python path
from utils.visualization import *

Road Roughness Data:<br>
a. Asphalt Road<br>
b. Cobblestone Road<br>
c. Gravel Road<br>
d. Paving Stone Road<br>
e. Dirt Road<br>

In [20]:
#a. Asphalt Road,P1-P10 People
df_asphalt= pd.read_csv('../../data/RoadRoughness/Raw/Asphalt/P1/E1/HandleBar/Accelerometer/Accelerometer.0.csv')  
df_asphalt

,Date,NTP,GNSS-Time,Acc-X,Acc-Y,Acc-Z
0,2024-11-25T16:10:49.534,2024-11-25 16:10:49.261,1732547448731,2.645565,3.208177,9.038589
1,2024-11-25T16:10:49.540,2024-11-25 16:10:49.267,1732547448737,2.527718,3.234199,8.934800
2,2024-11-25T16:10:49.541,2024-11-25 16:10:49.268,1732547448738,2.512464,3.298506,8.705986
3,2024-11-25T16:10:49.546,2024-11-25 16:10:49.273,1732547448743,2.557329,3.264707,8.822038
4,2024-11-25T16:10:49.551,2024-11-25 16:10:49.278,1732547448748,2.663511,3.261417,8.898608
...,...,...,...,...,...,...
10139,2024-11-25T16:11:30.084,2024-11-25 16:11:29.811,1732547489281,-0.134596,4.460521,8.394320
10140,2024-11-25T16:11:30.088,2024-11-25 16:11:29.815,1732547489285,-1.111167,4.520042,8.093722
10141,2024-11-25T16:11:30.091,2024-11-25 16:11:29.818,1732547489288,-0.894317,4.357031,8.133204
10142,2024-11-25T16:11:30.100,2024-11-25 16:11:29.827,1732547489297,0.032004,4.381558,8.663813
10143,2024-11-25T16:11:30.102,2024-11-25 16:11:29.829,1732547489299,0.076271,4.313362,9.287143

In [22]:
print_sampling_frequency(df_asphalt, timestamp_col='NTP')
df_asphalt_label = pd.read_csv('../../data/RoadRoughness/Raw/Asphalt/P1/E1/HandleBar/Label/Label.0.csv')
df_asphalt_label

Sampling frequency: 250.02 Hz

Empty DataFrame
Columns: [Date, NTP, GNSS-Time, Label]
Index: []

In [30]:
#b. Cobblestone Road,P1-P10 People
df_cobblestone= pd.read_csv('../../data/RoadRoughness/Raw/Cobblestone/P1/E1/HandleBar/Accelerometer/Accelerometer.0.csv')  
df_cobblestone

,Date,NTP,GNSS-Time,Acc-X,Acc-Y,Acc-Z
0,2024-11-18T16:19:50.132,2024-11-18 16:19:49.844,-1,-0.215354,3.911667,9.046964
1,2024-11-18T16:19:50.136,2024-11-18 16:19:49.849,-1,-0.431306,3.912265,8.876774
2,2024-11-18T16:19:50.141,2024-11-18 16:19:49.853,-1,-0.434297,3.915854,8.899506
3,2024-11-18T16:19:50.143,2024-11-18 16:19:49.856,-1,-0.202194,3.952644,8.932108
4,2024-11-18T16:19:50.150,2024-11-18 16:19:49.863,-1,-0.314058,3.912564,9.052647
...,...,...,...,...,...,...
9005,2024-11-18T16:20:26.149,2024-11-18 16:20:25.862,-1,-0.480658,4.013063,9.626326
9006,2024-11-18T16:20:26.165,2024-11-18 16:20:25.878,-1,-0.337986,3.861119,9.523434
9007,2024-11-18T16:20:26.166,2024-11-18 16:20:25.878,-1,-0.562014,4.118048,9.367003
9008,2024-11-18T16:20:26.166,2024-11-18 16:20:25.878,-1,-0.807279,4.246363,8.883654
9009,2024-11-18T16:20:26.166,2024-11-18 16:20:25.878,-1,-0.587139,4.321438,8.310871

In [31]:
print_sampling_frequency(df_cobblestone, timestamp_col='NTP')

Sampling frequency: 250.01 Hz

In [26]:
#c. Gravel Road,P1-P10 People
df_gravel= pd.read_csv('../../data/RoadRoughness/Raw/CompactGravel/P1/E1/HandleBar/Accelerometer/Accelerometer.0.csv')  
df_gravel

,Date,NTP,GNSS-Time,Acc-X,Acc-Y,Acc-Z
0,2024-11-18T15:49:39.322,2024-11-18 15:49:39.034,-1,1.064208,3.981059,9.064611
1,2024-11-18T15:49:39.327,2024-11-18 15:49:39.039,-1,0.511167,4.063611,8.763713
2,2024-11-18T15:49:39.329,2024-11-18 15:49:39.041,-1,0.543470,4.078866,8.606983
3,2024-11-18T15:49:39.333,2024-11-18 15:49:39.046,-1,1.051945,4.140480,8.768200
4,2024-11-18T15:49:39.346,2024-11-18 15:49:39.058,-1,1.291825,4.151248,8.885747
...,...,...,...,...,...,...
9223,2024-11-18T15:50:16.213,2024-11-18 15:50:15.925,-1,0.294616,4.263412,8.833404
9224,2024-11-18T15:50:16.217,2024-11-18 15:50:15.929,-1,0.167498,4.207180,9.140582
9225,2024-11-18T15:50:16.221,2024-11-18 15:50:15.934,-1,0.037089,4.175177,9.097511
9226,2024-11-18T15:50:16.223,2024-11-18 15:50:15.936,-1,-0.043968,4.190431,8.809774
9227,2024-11-18T15:50:16.228,2024-11-18 15:50:15.941,-1,-0.139083,4.270889,8.758927

In [32]:
print_sampling_frequency(df_gravel, timestamp_col='NTP')

Sampling frequency: 250.01 Hz